<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="./vue.js"></script>
	</head>
	<body>
		<div id="root">
			<child-one v-if='type === "child-one"'></child-one>
			<child-two v-if='type === "child-two"'></child-two>
			<button v-on:click="BtnClick">change</button>
		</div>
		<script>
			Vue.component('child-one',{
				template:'<div>child-one</div>'
			})
			Vue.component('child-two',{
				template:'<div>child-two</div>'
			})
			var vm = new Vue({
				el:"#root",
				data:{
					type:'child-one'
				},
				methods:{
					BtnClick:function(){
						this.type = (this.type === 'child-one' ? 'child-two' : 'child-one');
					}
				}
			})
		</script>
	</body>
</html>
